<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <!--    业务类-->
    <bean id="myaopService" class="com.huawei.service.impl.MyaopServiceImpl"></bean>
    <!--    通知类-->
    <bean id="aspect" class="com.huawei.aspect.MyAspect"></bean>
    <aop:config>
        <aop:aspect ref="aspect">
<!--            指定切点-->
            <aop:pointcut id="pointcut" expression="execution(* com.huawei.service.impl.MyaopServiceImpl.*.*(..))"/>
            <aop:before method="beforeDo"  pointcut-ref="pointcut"/>
            <aop:after-returning method="afterDo" pointcut-ref="pointcut" returning="result"/>
            <aop:after method="doAfter" pointcut-ref="pointcut"/>
            <aop:around method="doAround" pointcut-ref="pointcut"/>
            <aop:after-throwing method="doAfterThrowing" pointcut-ref="pointcut" throwing="ex"/>
        </aop:aspect>
    </aop:config>
</beans>